/* Assuming your components render tables, style them as such */
.App {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-self: row;
  margin-right: 20%;
}

.Homepage {
  background-color: aqua;
  max-width: 800px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the content */
  padding: 20px; /* Add some padding for spacing */
}

